.header-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 1rem;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 52px;
    padding: 0 .3rem;
    transition: ease .5s;
    margin-left: .1rem;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-label {
    position: absolute;
    top: 26px;
    font-size: 12px;
    color: rgb(25, 24, 24);
    text-decoration: none;
    padding: 0 .5rem;
}

.icon-wrapper:hover {
    background-color:  rgb(176, 214, 255);
    border-radius: 14px;
    padding-bottom: 3px;
}

button {
    border: none;
    background: none;
}

@media (width < 400px) {
    h1 {
        display: none;
    }
}