.header-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 1rem;
    height: 50px;
}

.header-wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    min-width: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-label {
    margin-top: -8px;
    font-size: 12px;
    text-decoration: none;
    transition: .5s;
    border-radius: 8px;
    padding: 0 .5rem;
}

.user-label:hover {
    background-color:  rgb(176, 214, 255);
}



header {
    border-bottom: 1px solid rgb(176, 214, 255);
}